.cards__button-like {
  width: 0;
  height: 19px;
  margin-right: 42px;
}

.cards__button-like::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background: url(../../../images/heart.svg) no-repeat center;
  position: relative;
  top: 1px;
}

.cards__button-like:checked::before {
  background: url(../../../images/heart_active.svg) no-repeat center;
}

.cards__button-like:hover {
  opacity: .5;
}

.cards__button-like:focus {
  opacity: .5;
  outline: none;
  box-shadow: none;
}