.page {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: min(100%, 880px);
  margin: 0 auto;
  background-color: black;
  min-height: 100vh;
}

.header + * {
  flex-grow: 1;
}