.popup__title {
  margin: 30px 0 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  max-width: 100%;
  align-self: flex-start;
  min-height: 23px;
}

@media (max-width: 470px) {
  .popup__title {
    font-size: calc(24px - (470px - 100vw)/((470 - 320)/(24 - 18)));
    line-height: calc(29px - (470px - 100vw)/((470 - 320)/(29 - 22)));
    margin-top: calc(30px - (470px - 100vw)/((470 - 320)/(30 - 25)));
  }
}

