.header {
  align-self: flex-start;
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84,84,84, .7);
  width: 100%;
  line-height: 0px;
}

@media (max-width: 880px) {
  .header {
    margin-bottom: 41px;
    box-sizing: border-box;
    padding-left: 27px;
    margin-top: calc(45px - (880px - 100vw)/((880 - 320)/(45 - 28)));
  }
}