.profile__edit-button {
  display: inline-block;
  margin-left: 20px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid white;
  background: url(../../../images/pen.svg) no-repeat center;
}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__edit-button:focus {
  opacity: .6;
}

@media (min-width: 470px) and (max-width: 670px) {
  .profile__edit-button {
    margin-left: calc(16px - (670px - 100vw)/((670 - 470)/(16 - 4)));
  }
}

@media (max-width: 470px) {
  .profile__edit-button {
    background-size: 8px;
    margin-left: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    right: -28px;
    bottom: 7px;
  }
}

