.popup__text-input {
  padding: 0 0 13px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0, .2);
  width: 358px;
  font-size: 14px;
  line-height: 17px;
}

.popup__text-input:first-of-type {
  margin-top: 50px;
  margin-bottom: 30px;
}

.popup__text-input:focus {
  outline: none;
  box-shadow: none;
}