.popup__text-input {
  padding: 0 0 9px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, .2);
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
  margin-bottom: 5px;
}

.popup__text-input:first-of-type {
  margin-top: 50px;
}

.popup__text-input:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 470px) {
  .popup__text-input:first-of-type {
    margin-top: calc(50px - (470px - 100vw)/((470 - 320)/(50 - 60)));
  }
}